# .env file for betterbets environment

ENVIRONMENT={{ app_environment }}

# Django
APP_USER={{ app_user }}
SECRET_KEY={{ secret_key }}
SITE_URL={{ site_url }}

# Database
POSTGRES_USER={{ postgres_user }}
POSTGRES_DB={{ postgres_db }}
POSTGRES_PASSWORD={{ postgres_password }}

# Stripe
STRIPE_PUBLIC_KEY={{ stripe_public_key }}
STRIPE_SECRET_KEY={{ stripe_secret_key }}

# Google Analytics
GOOGLE_ANALYTICS_KEY={{ google_analytics_key  | default('') }}

# Email
EMAIL_HOST={{ email_host }}
EMAIL_PORT={{ email_port }}
EMAIL_HOST_USER={{ email_host_user }}
EMAIL_HOST_PASSWORD={{ email_host_password }}

# Sentry
SENTRY_DSN={{ sentry_dsn }}

# Docker user permissions
DOCKER_USER={{ app_user }}
DOCKER_GROUP={{ app_user }}
HOST_USER_ID={{ host_user_id }}
HOST_GROUP_ID={{ host_user_id }}

# AWS
AWS_ACCESS_KEY_ID={{ aws_access_key_id }}
AWS_SECRET_ACCESS_KEY={{ aws_secret_access_key }}
